[2015-07-14 07:46] LucasBA opened #8 "Orient to path"
Orient to an orange path using the downward facing camera. This is vital for going from task to task.

[2015-07-14 07:50] LucasBA opened #11 "Set up main mission to integrate the missions into"

[2015-07-17 23:41] #11 closed

[2015-08-27 02:22] jpanikulam opened #1 "Update C3 Trajectory Generator"

[2015-08-27 02:23] jpanikulam opened #2 "Transition DVL driver"

[2015-08-27 02:24] jpanikulam opened #3 "Transition thruster driver"

[2015-08-27 02:24] jpanikulam opened #4 "Update simulation"

[2015-08-27 02:25] jpanikulam opened #5 "Transition depth driver"

[2015-08-27 02:25] jpanikulam opened #6 "Transition IMU driver"

[2015-08-28 21:59] jpanikulam opened #7 "Transition camera launch & drivers"
Not just moving the launch files, but also figuring out why the cameras aren't behaving
- Running 3 cameras at once
- Why is it so slow over the network?

[2015-08-31 20:50] jpanikulam opened #9 "Transition Kalman Filter"
Todo:
- Trade-study continued use of the existing [Unscented Kalman Filter](https://www.seas.harvard.edu/courses/cs281/papers/unscented.pdf)
- Explore using a simpler filter
- Explore using a [Moving-Horizon Estimator](https://en.wikipedia.org/wiki/Moving_horizon_estimation)

[2015-08-31 20:54] jpanikulam opened #10 "Transition magnetometer and calibration tools"
- [Dynamics Compensation](https://github.com/uf-mil/software-common/tree/master/magnetic_dynamic_compensation)
- [Hard-soft Compensation](https://github.com/uf-mil/software-common/tree/master/magnetic_hardsoft_compensation)

[2015-09-04 16:57] jpanikulam opened #13 "Transition Actuator Driver"

[2015-09-10 03:04] khaledhassan commented on #7
Cameras not behaving may be related to the quickly thrown together kill switch

[2015-09-23 02:24] jpanikulam opened #18 "Add stereo-generated point cloud / depth-image"

[2015-10-02 04:49] forrestv commented on #10
What exactly was the resolution for all this stuff? I thought what happened
was something along the lines of:

[code]

And I don't see how that meshes with closing all these issues.

On Fri, Oct 2, 2015 at 12:03 AM, Jake notifications@github.com wrote:

[2015-10-02 05:13] jpanikulam commented on #10
Cause was additional offline discussion:
- What do we gain from reimplementing this?
  -- Ownership
- Does the code do anything we need to own?
  -- No, it reads data and publishes it
- Do people need to edit this often?
  -- No, it will probably never be touched again

So it is neither wise nor a prudent use of our time to re-do these, when we'd be making no functionality changes. => closing thes

[2015-10-02 06:10] forrestv commented on #10
I'd say that it's very important that at least one person understands the
magnetic hard/soft compensation algorithm and calibration algorithm. And
ooh, the calibration algorithm is actually commented! (Probably because it
absolutely needs it. :P)

Dynamic magnetic compensation wasn't used on Sub2015 because none of the
motors were very close to the IMU (since it was centered), but I'm not sure
if

[2015-10-02 06:11] forrestv commented on #10
Anyway, as you want to get into the pool soon, perhaps it is wise to
postpone this for now. Just something to be aware of.

On Fri, Oct 2, 2015 at 2:10 AM, Forrest Voight forrest.voight@gmail.com
wrote:

[2016-02-04 23:17] #2 closed, assigned to jpanikulam

[2016-02-04 23:17] #5 closed, assigned to jpanikulam

[2016-02-04 23:17] #6 closed, assigned to jpanikulam

[2016-02-04 23:17] #10 closed, assigned to jpanikulam

[2016-02-04 23:18] #3 closed, assigned to jpanikulam

[2016-03-04 18:53] jpanikulam commented on #7
Closed ref #58

[2016-03-04 18:53] #7 closed, assigned to rleyva

[2016-03-04 18:54] jpanikulam commented on #18
Closed ref #58 (CUDA to come @rleyva)

[2016-03-04 18:54] #18 closed, assigned to gaboth22

[2016-03-08 00:52] jpanikulam opened #64 "Integrate legacy kill_handling into alarm system"
For the near future, we will be using a kludge that interacts with kill_handling from the alarm system.

[2016-03-22 12:08] jpanikulam opened #69 "PERCEPTION: Launch full stereo stack from a single file"
Missing: stereo_image_proc

[2016-03-28 06:02] jpanikulam opened #77 "Decentralize alarm system"
- Easier sharing between robots
- Easier implementation of alarm handling, instead of a sort of lanky and cumbersome service-based organization
- This requires no major changes to the alarm node

[2016-03-28 06:02] jpanikulam commented on #77
Customer: @zachgoins

[2016-04-05 20:32] jpanikulam opened #83 "Add working visual odometry"
- libviso2
- svo
- lsdslam
- anything

[2016-04-05 20:32] jpanikulam opened #84 "Better alarm GUI, better command GUI"

[2016-04-05 20:32] jpanikulam opened #85 "Make tools for easily segmenting bag data for running ML"

[2016-04-05 20:33] jpanikulam opened #86 "Make tools for easily testing changes to vision"

[2016-04-05 20:33] jpanikulam opened #87 "Add "success criteria" to Gazebo"

[2016-04-05 20:35] jpanikulam opened #88 "Get Gazebo running on a computer in MIL"
- Gazebo needs an X server to do camera rendering
- There's some sparse info [here](https://github.com/uf-mil/Sub8/wiki/Aws)
- Running gz3d would be nice, info [here](https://github.com/uf-mil/Sub8/blob/master/scripts/aws.sh)
  - Not super dupe necessary though
  - gz3d also requires Gazebo 5

[2016-04-05 20:36] jpanikulam opened #89 "Get a PPA working (Or some solution for distributing binaries)"
- In the short term, everyone is going to have to compile PCL from source

[2016-04-05 20:37] jpanikulam commented on #4
Now satisfied by Gazebo sim.

[2016-04-05 20:37] #4 closed, assigned to jpanikulam

[2016-04-05 20:39] jpanikulam commented on #87
For running many simulations, sim should be able to autonomously determine which competition elements we've successfully accomplished
- Has the correct buoy been bumped
- Has the start gate been passed through
- etc

[2016-04-05 20:41] jpanikulam opened #90 "Make stereo point cloud more reliable"
- Stereo pt cloud works well with overhead sunlight
- Suffers quite a bit in the shadows
- Why? There's clear disparity in color
# Experiments already conducted
- Computing disparity on Hue instead of grayscale shows promise
- SGBM on a more downsampled image

The bag called "2016-03-28-19-13-39.bag" shows this behavior, "2016-03-28-19-17-45.bag' too, but not quite as well.

[2016-04-05 20:58] jpanikulam opened #91 "Get Chrony server working on Sub"
- Deal with tf desynchronization
- Trivial if we get internet on sub

[2016-04-05 22:18] jpanikulam commented on #88
A gtx970 costs $310 + shipping
That is 508 hrs of EC2 time on a gpu instance at $0.65/hr. It may be more economical to make a MIL aws account instead

[2016-04-07 14:15] jpanikulam commented on #69
Closed by #76

[2016-04-07 14:15] #69 closed, assigned to rleyva

[2016-04-09 05:07] #77 closed, assigned to jpanikulam

[2016-04-12 04:58] jpanikulam commented on #89
Interim solution: Going to make everyone compile pcl from source.

[2016-04-12 04:59] jpanikulam commented on #13
Closed by #93

[2016-04-12 04:59] #13 closed, assigned to mattlangford

[2016-04-12 05:00] jpanikulam opened #98 "Add area search to channel marker mission segments"
- Have some knowledge of where we should look and where we have already looked
- Visualize it in Rviz

[2016-04-12 05:01] jpanikulam opened #99 "Add HOG-based object detection"

[2016-04-25 00:28] jpanikulam opened #113 "Add mission timeouts"

[2016-05-02 10:27] jpanikulam commented on #88
Done

[2016-05-02 10:27] #88 closed, assigned to sentree

[2016-05-02 10:28] jpanikulam commented on #91
@whispercoros set up an ntp server

[2016-05-02 10:28] #91 closed, assigned to nobody

[2016-05-07 18:49] mattlangford commented on #98
Can this be closed or should we wait until it has been tested irl

[2016-05-07 19:08] mattlangford commented on #113
I can include this in my next PR

[2016-05-07 20:34] jpanikulam commented on #98
I am sufficiently satisfied that this is solved

[2016-05-07 20:34] #98 closed, assigned to mattlangford

[2016-05-07 20:35] jpanikulam commented on #98
What'll be your strategy for making sure the search pattern doesn't hit the pool walls?

[2016-05-07 20:36] jpanikulam commented on #113
Perfect

[2016-05-07 20:41] mattlangford commented on #98
So the sub won't search outside the occupancy grid and since we know approximately where we start in the transdec (right?) we can define the grid such that the sub won't hit the walls.
Also for testing in pools we can define the grid to be approx the size of the pool based on where we put the sub in the water.

[2016-05-07 20:49] jpanikulam commented on #98
Ok.

One of these days I'd like to have a single place (maybe a launch arg or param) that configures the sub to load calibrations for one of [gazebo, transdec, Town Parc pool]

Then, most importantly, lets the operator align a model of the pool in RVIZ.

[2016-05-07 21:10] mattlangford commented on #98
Yeah that sounds like a good idea.
Doing the pool alignment could be tricky, what were you thinking for that? If we made 3D model of the pool, positioning it would be tricky since we still wouldn't know where the sub was in the pool initially. Would that just be an approximate representation of the pool, if so what would that do for us besides being a starting point for the marker occupancy grid?

[2016-05-12 00:11] LucasBA opened #128 "CNN for object recogntion"

[2016-05-12 00:13] LucasBA commented on #128
I tried to assign myself but I think I don't have authority.

[2016-05-12 00:19] mattlangford commented on #128
**GET 'ER DONE**

[2016-05-12 00:34] jpanikulam commented on #85
Does anybody know Leandro's github acct?

[2016-05-12 04:18] rleyva commented on #128
We should probably sit down and collect images for all of the possible classes instead of wasting time and making our own individual sets

[2016-05-12 18:56] jpanikulam opened #130 "command-line switch to run Gazebo without cameras/GUI"
Controller testing is cumbersome with cameras and GUI running.

Esp with Jason in CA, having no access to AWS or MIL-JOHNNY5

[2016-05-12 19:12] jpanikulam commented on #130
@mattlangford if you find time

[2016-05-12 22:14] mattlangford commented on #130
I don't think this will be a problem

[2016-05-12 22:15] mattlangford commented on #130
To do*

[2016-05-14 19:30] #130 closed, assigned to nobody

[2016-05-17 21:06] rleyva commented on #86
What exactly do you envision for this?

[2016-05-17 21:10] rleyva commented on #85
I just messaged him via email for it.

[2016-05-17 21:20] rleyva opened #135 "COMPETITION: Start Gate Detection & Mission"
Subtasks that have to be completed to carry out this mission:
- [x] Detecting start gate
- [ ] Aligning to gate

[2016-05-17 21:31] jpanikulam commented on #86
On segmented/labelled bags

Bare minimum:
Test that we detect the objects' **centroid** correctly in 2D 90% of the time

Gold:
Test that we get a good **segmentation** in 2D 90% of the time

Platinum:
Test that our **3D** pose estimate is close 90% of the time. Platinum because it probably means we have to do 3D labelling.

[2016-05-17 22:34] LucasBA commented on #86
Would a bounding box suffice for gold?

[2016-05-17 22:44] jpanikulam commented on #86
I think a bounding box would be most of the way to gold. If we are going all-in on CNN's, I'd call it equivalent.

[2016-05-17 22:47] jpanikulam commented on #64
Closed by #129

[2016-05-17 22:47] #64 closed, assigned to jpanikulam

[2016-05-17 22:48] jpanikulam commented on #9
Closing as not-near-future

[2016-05-17 22:48] #9 closed, assigned to zachgoins

[2016-05-17 22:48] jpanikulam commented on #99
Closed by #100

[2016-05-17 22:48] #99 closed, assigned to tessbianchi

[2016-05-17 22:49] jpanikulam commented on #113
@mattlangford Did we ever land on this?

[2016-05-17 22:51] mattlangford commented on #113
No reply from @forrestv yet. What do?

[2016-05-17 23:09] jpanikulam commented on #113
Have you tried emailing god-president Trump?

[2016-05-17 23:12] jpanikulam commented on #113
I couldn't find the timeout code on your fork, did you remove it? I was going to clone and try

[2016-05-17 23:20] mattlangford commented on #113
I did remove it. I can add it back tonight.

[2016-05-18 05:16] jpanikulam opened #140 "Make one-click simulated missions"
- Take less than 5 mins to set up a gazebo test case
- Take less than 30 secs and 10 brain-cells (no cocaine) to start running an already existing test case

[2016-05-18 05:18] jpanikulam commented on #140
As in Semaphore, zero effort is expended to see if
- install script runs on a fresh install
- flake8 passes
- build works
- unit-tests and integration tests run

We should be able to do something similar in Gazebo. Being as painless as Semaphore is probably aiming too high, but minor improvements over @mattlangford 's current JobRunner implementation will save everybody days of test time.

[2016-05-18 06:07] jpanikulam commented on #140
What I think this would look like:
- CLI like missions

[code]

But I am just now trying to write a Gazebo job using @mattlangford 's script and finding it to be even easier than I thought

[2016-05-18 11:57] mattlangford commented on #140
So my idea was that the gazebo server would constantly be running the jub_runner, then people could start up missions anywhere on the network. That being said I'm sure it wouldn't be difficult to modify the script to be all in one and that would make it easier to use and would save dev time. The main thing my script would need is some identification over if the mission passed or failed (for baggin

[2016-05-18 13:35] forrestv commented on #113
Huh? Not sure what you mean. Are you waiting on me fixing the spurious traceback that is printed in the case you emailed me? I thought it wasn't blocking any progress..?

[2016-05-18 13:47] mattlangford commented on #113
Hmm I guess you're right. It doesn't actually break anything, no reason to fret over it.

[2016-05-18 15:24] forrestv commented on #113
Well, I'm definitely going to look into it. I just wanted to point out that
it shouldn't prevent you from advancing.

I'm still a bit confused, though: that issue you showed me, I wonder why I
never saw it before when I was writing missions... From the script you
showed me, it didn't look like you were doing anything unusual... I have to
try to replicate it locally.

FYI, also, I'm likely going to

[2016-05-18 16:40] mattlangford commented on #113
@jpanikulam, have you tried running it yet? I wonder if it's just a weird issue on my machine. I haven't ran it anywhere else.

Happy birthday by the way Forrest

[2016-05-19 04:55] sentree commented on #89
I will be trying to download, build, package, and distribute the following in the next few weeks:
- OMPL (current)
- PCL (1.8)
- ArrayFire (current)
- OpenCV (2.4.13 -cuda -opencl -mp)
- Ceres (current)
- gpu-voxels (current)

If anyone has any additions or suggestions as to how to best build these, please comment below. I will be building for amd64, i386, and arm (where possible) platforms.

[2016-05-19 05:23] sentree commented on #140
@mattlangford, what happened to the job_runner script? I am going to try to create a server on the gazebo machine to do 24/7 testing. Basically, there would be a web interface (or maybe just an SSH terminal interface if that takes too long) where jobs can be submitted, monitored, and controlled. A master queue would run the following in the specified order of priority:
- A specific set of tests re

[2016-05-19 11:03] mattlangford commented on #140
It's in sub8_gazebo/diagnostics. I think a web interface would be cool.
We do have a mileage ticker in the gazebo controller.

[2016-05-19 12:36] mattlangford commented on #140
It might be easier to rosify the mission adding process and make an rqt plugin that lets you monitor mission status.

[2016-05-19 17:17] sentree commented on #140
A git-independent mileage counter would be a lot simpler to manage and fairly easy to set up. If I implement this, we should be able to send all kinds of statistics to be centrally tracked from any Gazeb session.

Rosifying the process might be easier, but it'd be difficult to get working remotely. Ros really likes to use all kinds of crazy ports, so I'd prefer to make something ros-independent to

[2016-05-19 19:05] mattlangford commented on #140
Ah, I see what you're saying remote would be cool.

Yeah you'd upload one or two scripts to run with it. Normally I'd have the mission script that would run on the sub then a mission running script that handles any errors or whatnot and checks for success or failure.
It could be one script though.

[2016-05-22 20:48] rleyva opened #145 "COMPETITION: Torpedo board"
**Tasks to complete**
- [x] Torpedo board detection
- [ ] Aligning to torpedo board
- [ ] Actuating torpedo board cover
- [ ] Text recognition
- [ ] Shooting torpedo

@LucasBA - You're still onboard with working on the text recognition, correct?

[2016-05-23 03:42] LucasBA commented on #145
Yes, I was going to set it aside for a week and do the ball dropper mission for the crusade. I have python-tesseract ocr working pretty decently on my machine I need to rosify and test

[2016-05-25 03:00] jpanikulam opened #146 "Add "setup" function for individual missions"
- Create subscribers, VisionProxies, etc
- This way, we can easily track what is requiring each thing

[2016-06-07 22:01] rleyva opened #154 "INSTALL: Add twisted and socat to install script"

[2016-06-07 22:20] rleyva commented on #154
Also, service_identity (python module)

[2016-06-07 22:24] rleyva commented on #154
Along with pyasn1 and characteristic, also python modules

[2016-06-08 00:15] jpanikulam opened #155 "ML: Store "observe" function/kernels along with classifiers"
Right now, if someone modifies features.py after a classifier is trained, the classifier simply won't work anymore

[2016-06-08 00:23] mattlangford commented on #155
You right, you think just appending the list of features to the classifer pickle will work?

[2016-06-08 00:36] jpanikulam commented on #155
I think so. ought to make a unified `observe` to make sure there's no goof-ups.

Also, Boosting can tell you which kernels are being useful, so you could save convolutions by selectively using only the ones that help

[2016-06-08 00:39] mattlangford commented on #155
Did you want to do that? I can possibly tonight after I do some testing depending on how late it is when I finish what I'm working on rn

[2016-06-08 00:41] mattlangford commented on #155
Also do you think it might be good to save the cv2 classifiers in a pickle as well vs using an xml which it does now? That would make switching between the two really simple. Esp if we wanting to include other things in the pickle like kernels

[2016-06-08 01:11] jpanikulam commented on #155
All you, my friend.

Unfortunately, cv2 classifiers can't be pickled, because they are made as Boost::Python bindings, so we have to use their serialization interface

[2016-06-08 01:14] mattlangford commented on #155
Ohh the data doesn't exist in the python world.
I guess you could pickle the xml somehow

[2016-06-08 01:19] jpanikulam commented on #155
I'm not sure it would be worth the investment of effort, but...
I think you could come up with a trick where you write it to /dev/stdin, [grab it](http://stackoverflow.com/questions/1450393/how-do-you-read-from-stdin-in-python), then pickle that...and then when you read it, you read from /dev/stdout

or something ridiculous like that

[2016-06-08 01:21] mattlangford commented on #155
I'm just trying to figure out a good way to save an arbitrary learning object that can be used by this theoretical interface.

[2016-06-08 07:03] sentree opened #156 "Strange errors on Semaphore builds"
I was updating some Semaphore configurations and noticed that the `catkin_make` -C ~/sub_ws run_tests` command generated several failures. This problem appears to date back to March (that's as far back as I went) and the command is reported as successful on Semaphore despite them. Here is an example:

[code]

Hope these are not serious issues, just wanted to point them out.

[2016-06-08 07:15] sentree commented on #154
I will also add screen to the list of dependencies, we need it to run the roscore at startup

[2016-06-08 07:16] rleyva commented on #154
Sounds good!

[2016-06-10 04:53] sentree commented on #154
I included the crc16 library as requested by @mattlangford

All of these will be included in my next pull request, so this issue is resolved and can be closed

[2016-06-20 04:54] rleyva opened #160 "odom_estimator consuming entire CPU core"
We've noticed this behavior when pool testing and believe it's playing a part in unstable sub behavior. Below are some notes regarding it:
@jpanikulam - Mentioned that typical behavior has the sub running this node with ~15% usage

The setup that I am using to debug this is the following:
- Running fake_imu tool in the odom_estimator package under raw_gps
- rosrun tf static_transform_publisher 0 0

[2016-06-20 05:00] forrestv commented on #160
Are you compiling with optimization enabled? Math-heavy code like
odom_estimator and c3_trajectory_generator that uses Eigen for
vector/matrix math incurs around a 1000% penalty when optimization is
disabled.

On Sun, Jun 19, 2016 at 9:54 PM, Ralph Leyva notifications@github.com
wrote:

[2016-06-20 05:29] forrestv commented on #160
By optimization, I mean -O2 or -O3. You can check by running catkin_make
with --make-args "VERBOSE=1" added and looking at the g++ commands when it
gets to odom_estimator.

On Sun, Jun 19, 2016 at 10:00 PM, Forrest Voight forrest.voight@gmail.com
wrote:

[2016-06-21 01:28] rleyva commented on #160
Whoa, I didn't realize that this was the case. We recompiled C3 with optimizations at the pool on Saturday but never bothered to recompile the entire workspace with optimizations. Recompiling odom estimator on my machine made the issue go away. I'll close the issue once we retest on Wednesday.

[2016-06-22 20:24] rleyva commented on #160
That did it. Thanks, Forrest!

[2016-06-22 20:24] #160 closed, assigned to nobody

[2016-07-01 06:04] DSsoto opened #166 "PERCEPTION: nodes crashing on startup"
When launching the sub via sub8.launch or the sim via duck.launch, the nodes follow _orange_pipes.py and buoy_3d.py consistently crash. These are the error messages:

follow _orange_pipes.py

buoy_2d.py

@mattlangford, @jpanikulam you guys might have some insight into these, I see the first one is tf related.

[2016-07-01 07:12] mattlangford commented on #166
The second error is due to the fact that the classifications for buoys aren't on the git and therefore aren't on your computer. So when it tries to load them it fails and dies.
The first seems odd, maybe it's starting up before tf has started - it would be good to waitForTransform at the begginning so it doesn't start until it sees the frames

[2016-07-01 13:46] DSsoto commented on #166
Why don't we put them on the git? Are they too large?

And yea, that would probably fix it.

[2016-07-01 14:00] mattlangford commented on #166
I think they are quite large. We should keep them somewhere, on the server maybe?

[2016-07-02 06:01] sentree commented on #166
I could have the sub automatically sync that directory just like the bags if you tell me where it is.

[2016-07-02 06:32] mattlangford commented on #166
Yeah that's what I was thinking. I guess they can go wherever ..../sub8_perception/ somewhere

[2016-07-02 12:10] mattlangford commented on #166
If things go right today, I'm going to be doing some segmentation tonight, so if you're in lab at all today @whispercoros, we can talk about it.

[2016-07-03 03:17] khaledhassan commented on #166
Perhaps consider Git LFS? Never used it, just a thought

[2016-07-03 04:01] mattlangford commented on #166
Jake had talked about using that for the gazebo models - we will look into it.

[2016-12-29 06:30] DSsoto opened #182 "Cant build repo on 16.04 with ROS Kinetic"
It seems like right now the one thing stopping us is broken macros in manifold.h form rawgps-tools.

@forrestv any ideas for quick fixes? Or should we just mess around with fixing the macros using the updated boost version?

[2016-12-29 06:31] #154 closed, assigned to sentree

[2017-01-02 05:21] #166 closed, assigned to nobody

[2017-01-02 05:22] mattlangford commented on #145
Will reopen for this new year

[2017-01-02 05:22] #145 closed, assigned to DSsoto

[2017-01-02 05:23] mattlangford commented on #135
Going to leave this open, since it will still need to be solved

[2017-01-07 21:41] kev-the-dev commented on #182
It is building now right? Would it be possible to add/change the semaphore to 16.04 to reflect our transition?

[2017-01-08 18:28] mattlangford commented on #156
I think issues are solved here

[2017-01-08 18:28] #156 closed, assigned to nobody

[2017-01-08 19:53] DSsoto commented on #182
**UPDATE:** @forrestv patched the rawgps_tools pkg so it would build on 16.04. I fixed the sub8_perception pkg so it would build on the more recent g++ version. Repo builds on 16.04 now.

@ironmig we should definitely do that. Do you want to?

[2017-01-08 19:53] #182 closed, assigned to DSsoto

[2017-01-09 10:03] forrestv opened #187 "Kalman filter needs to know where it is"
`Sub8/command/sub8_launch/launch/subsystems/odometry.launch` needs to have its location set to Gainesville (`_start_x_ecef:=738543 _start_y_ecef:=-5498316 _start_z_ecef:=3136465`) for testing in Gainesville (and San Diego when in San Diego).

Otherwise, north won't correspond to true north ... not a huge loss, but something to take note of.

[2017-01-09 15:09] DSsoto commented on #187
Will add this to the launch file.

[2017-01-09 15:09] #187 closed, assigned to DSsoto

[2017-01-09 18:41] DSsoto commented on #187
Fixed in #188

[2017-01-15 07:25] #155 closed, assigned to nobody

[2017-01-15 07:36] DSsoto commented on #140
Anthony might expand on this idea later on but this seems resolved.

[2017-01-15 07:36] #140 closed, assigned to nobody

[2017-01-17 04:40] sentree opened #191 "Proposed Wiki Changes"
Since we are moving toward development based on softwar-common, I thought it would be a good idea to move the wiki pages that apply to all projects or MIL in general over to that repository. On top of that, there were a few pages that I found that had no useful purpose and a few that need to be updated to make sense. If nobody objects, I will start executing the changes in a week. Feel free to add

[2017-01-26 05:19] duggerdufl opened #195 "Single thruster is not detected on first launch"
Thruster with NID of 1 is not detected on the first launch of the sub from reboot. Relaunching the sub makes the thruster appear, and is detected on every subsequent launch until another reboot.

[2017-01-26 05:28] duggerdufl opened #196 "Investigate if magnetometer calibration is necessary after thruster swaps"
Are the manufacturing differences in each new thruster enough to affect the magnetometer calibration?

[2017-01-26 12:29] mattlangford commented on #195
Maybe we could try resetting the ID to 8 like we tried briefly for the other thruster and seeing if it'll come up right away

[2017-01-31 21:43] duggerdufl commented on #191
I got rid of the following (any useful information will be migrated to Confluence):

- To Do (Electrical)
- Navigation Vessel (Electrical)
- Vessel Pinouts (Electrical)
- Spares (Electrical)
- Testing SW Stuff (Electrical)
- Sub Switch
- Sub Motherboard

The following have outdated information and should be updated/removed:

- Remote Access
- MIL Local Network

[2017-01-31 23:05] sentree commented on #195
Was this resolved at a past pool day?

[2017-01-31 23:05] sentree commented on #196
Were the new thrusters in use at the last pool day? The sub was very stable near the end.

[2017-01-31 23:06] duggerdufl commented on #195
No, the problem still exists. Have not tested changing the ID yet.

[2017-01-31 23:08] duggerdufl commented on #196
Through testing it does not look like anything is being severely affected. There might be some small changes that we can not see through observation.

Here is some notes on it from uf-mil-archive: https://github.com/uf-mil-archive/getting-started/blob/master/magnetic-calibration.md

@forrestv Can you comment on this (you wrote that document)?

[2017-01-31 23:09] sentree commented on #191
Everything removed is okay. I am planning on converting [MIL Local Network](https://github.com/uf-mil/Sub8/wiki/MIL-Local-Network) to a page about the network on the actual vehicles (since they are almost identical) and [Remote Access](https://github.com/uf-mil/Sub8/wiki/Remote-Access) to a page about using UF's VPN to access the fileserver on Ubuntu.

[2017-01-31 23:12] sentree commented on #89
Since the move to Ubuntu 16.04 and ROS Kinetic, I think all of the dependency version issues we were having have been resolved. Can anyone confirm whether or not we still need any of the binaries listed above to be custom compiled?

[2017-01-31 23:17] sentree commented on #196
Looking at the text, it appears that it is able to also account for the metal in the sub. Perhaps we should wait until the new chassis is built and assembled to do a full calibration.

[2017-01-31 23:23] duggerdufl commented on #191
Works for me.

[2017-02-01 00:46] duggerdufl commented on #196
Looks like only hardsoft calibrations are being applied, per https://github.com/uf-mil/Sub8/blob/master/command/sub8_launch/launch/subsystems/nav_box.launch

[2017-02-01 01:55] mattlangford commented on #196
According to that launch it looks like the dynamic is being applied as well
from imu -- `/imu/mag_raw` --> [dynamic compensation] -- `/imu/mag_lessraw` --> [hardsoft compensation] -- `/imu/mag` --> UKF

[2017-02-01 02:29] duggerdufl commented on #196
You're correct - I don't have a good understanding of launch files, saw the remap and just assumed it did that without changing anything.

[2017-02-01 13:49] forrestv commented on #196
The dynamic compensation may be running, but AFAIK it's not doing anything since the thruster drivers don't publish their magnetic field contributions like the Sub7 thruster drivers did. If nothing is being published on `/imu/mag_generated_info`, that would confirm this. Given that, it's safe to remove from the launch file (though you'd have to keep everything connected by changing the remaps).

S

[2017-02-01 14:31] mattlangford commented on #196
Awesome, thanks!

[2017-02-01 14:31] #196 closed, assigned to nobody

[2017-02-02 09:52] sentree opened #198 "Semaphore woes"
Upon trying to make Semaphore compatible with the new stack, I found that it only supports building on Ubuntu 14.04. Since we decided to make the full switch to Ubuntu 16.04, this is likely going to cause problems. As I see it now, there are a few options available to us:
* Keep using Ubuntu 14.04 with ROS Indigo for builds
    * There are differences between the stacks
    * They may be close eno

[2017-02-02 12:52] mattlangford commented on #198
Since you'd be the main one heading that, how difficult would it be to get something like Jenkins up and running?

[2017-02-02 15:24] sentree commented on #198
I'm not entirely sure at the moment, but probably no longer than a week to get it functioning enough for basic building. I will do some more research when I have a bit of spare time. In the meantime, I might push some duct tape to the install script on Sub8 to make Semaphore work.

[2017-02-02 20:53] kev-the-dev commented on #198
The standard for open source projects no adays is Travis CI https://travis-ci.org . They say it's free for open source projects and supports 16.04 vm's. I say we try Travis out of it's easy. We want our CI to be rock solid, and deploying our own might make it less reliable.

[2017-02-07 10:59] sentree commented on #89
Please close this due to lack of activity.

[2017-02-08 08:36] #89 closed, assigned to sentree

[2017-02-09 11:59] sentree commented on #198
@ironmig attempted to get Travis CI working, but they are also stuck in the 14.04 dark ages. The duct tape appears to be working on Semaphore, but there is an error when running the tests for ros_alarms. I am planning to start building the infrastructure for Jenkins this weekend, so speak now or forever hold your peace.

[2017-02-11 07:49] DSsoto commented on #198
I'm in favor of rolling our own. No objections here.

[2017-03-22 04:50] kev-the-dev opened #201 "Refactor / Improve blueview driver"
I'm working on refactoring Tess's blueview sonar driver from #197. Hope to move to using the C++ library, cleaning up the code, and outputting something besides an image (pointcloud??)

@DSsoto I call dibs

[2017-03-22 15:24] RustyBamboo commented on #201
Jason and I had some discussion of using this class: http://www.blueview.com/documentation/ProViewer-SDK-4.0-Manual/classBVTSDK_1_1RangeProfile.html

[2017-03-23 06:04] DSsoto commented on #201
@ironmig your dibs will be honored. You don't have the information to generate a point cloud from a single frame, @kingkevlar will work on generating a 2d occupancy grid and later on someone could work on reconstructing a 3d cloud if they choose to, although this is no trivial task. It would be nice if you published ping data or a range profile besides just the image.

[2017-03-23 12:32] mattlangford commented on #201
You could do a 2d point cloud no? With a `laserscan` message

[2017-03-23 12:35] DSsoto commented on #201
Ehhh, you're right, I reserve the word point **cloud** for higher dimensional things.

[2017-03-23 16:19] mattlangford commented on #201
It's a manifold of your "higher" dimensional space

[2017-03-24 14:37] sentree commented on #201
Make sure that you pull request your changes to mil_common and use the domain name for the sonar instead of it's IP address. Also, your definitions are fake news @DSsoto.

[2017-04-03 16:06] DSsoto commented on #201
This should really be in the mil_common repo.
 Is this ready to close? Or will @kingkevlar be adding her stuff to the driver.

[2017-04-03 16:07] DSsoto commented on #198
@whispercoros how is the CI work coming along? ETA?

[2017-04-03 16:12] DSsoto commented on #135
**UPDATE:** @RustyBamboo is now able to detect the start gate most of the time, we still need to make sure it will be as robust as it needs to be for competition.

[2017-04-03 16:55] DSsoto opened #205 "Remove packages migrated to mil_common"
We should start removing duplicate packages in the repo.

This is some of what needs to go:
+ sub8_perception/*/sub8_vision_lib
+ sub8_sonar
+ hydrophones
+ paulboard
+ some of sub8_tools
+ some of sub8_msgs

Be sure to reference your PR if you do any of this and/or add to this list.

[2017-04-03 16:58] DSsoto opened #206 "Kill handler logging"
Make the alarm handler for the kill alarm log the time and reason for any kills to a file.

[2017-04-03 17:02] DSsoto opened #207 "Set reasonable white balance defaults"
The point grey camera drivers do some sort of optimization procedure for white balancing, the settings can be very dynamic and not settle for a while.

Sometimes, the algorithm fails to set reasonable settings when there is not enough variety of color in view.

We need to figure out how to set the cameras up to start the adjusting process from settings we know are reasonable in the water.

[2017-04-03 17:25] duggerdufl opened #208 "Self Check Improvements"
- [x] Add an indication of which thrusters are not detected.
- [x] Check lsusb to detect if the cameras are plugged in vs the cameras launch not running.
- [ ] Detect peripheral devices like the actuator box and the passive sonar (if they respond to a RS485 ping).
- [ ] Check fps for all camera topics
- [ ] Checking for degenerate thruster configurations

[2017-04-03 17:41] mattlangford commented on #206
Right now it logs to ros logs right? This would just need to be making sure there are enough ros log prints in the server or client nodes. I thought it logs whenever new alarms are received currently.

[2017-04-03 17:42] mattlangford commented on #195
Any progress here?

[2017-04-03 17:45] mattlangford commented on #135
That's great news! I'm assuming you've tested on bagged competition data?

[2017-04-03 18:19] RustyBamboo commented on #135
Yup, worked well on the competition bags

[2017-04-03 19:10] DSsoto commented on #206
You're right about that, but ros logs have way too much info to be useful. I think the vehicle being killed is special enough that a warrants an easy to read log of when and why.

[2017-04-03 19:13] DSsoto commented on #208
I would like to have a tool to automatically spin each thruster in sequence to confirm that they are indexed correctly and spinning in the right direction.

I'm currently looking at @jpanikulam's attempts at something like this.

[2017-04-03 19:16] DSsoto commented on #195
Currently trying to get thruster coms and diagnosis a little more stable but no we never figured out why.

[2017-04-03 19:32] mattlangford commented on #206
If I'm not mistaken you can get specific logs from specific nodes. The alarm server node would probably not have too much garbage right? I haven't looked too much into ros logging but I imagine getting a specific nodes output would be something that's possible.

[2017-04-03 22:07] #201 closed, assigned to nobody

[2017-04-03 22:59] DSsoto commented on #206
Then we'd make a script that makes getting that specific log easier, the implementation is besides the point.

[2017-04-04 01:23] duggerdufl commented on #195
Let's write a couple lines into the thruster driver to log what was recieved and transmitted to a file so we can see what's happening, That's probably easier than trying to monitor a serial port directly.

Looks like only thruster ID 0 is returning any confirmation after a thrust command is sent. All the other thrusters stay silent but process and produce the thrust. All the thrusters are running

[2017-04-04 01:24] duggerdufl commented on #208
That's a good idea. Would save time when we have problems or have to change out a thruster.

[2017-04-04 01:27] duggerdufl commented on #207
It's not just us - https://github.com/ros-drivers/pointgrey_camera_driver/issues/55

[2017-04-04 01:33] duggerdufl commented on #206
We need to do something about the DVL beam x not returned messages, it's impossible to see anything out of the water on that window because of all those messages.

[2017-04-04 01:36] DSsoto commented on #206
@whispercoros If we make a gui and this is on it, no need to log it.

[2017-04-04 01:39] duggerdufl commented on #206
Until you kill ROS or whatever and it goes away.

[2017-04-04 01:40] mattlangford commented on #206
Rospy doesn't have a throttled logger like roscpp does (last time I checked), it'd be pretty easy to implement one in that file. I can do it unless David wants to.

[2017-04-04 02:30] DSsoto commented on #206
@duggerd the logs do persist even after all ros stuff is killed. I'll look at how the ones for the alarm server node look and if they look usable then I'll just write a script to make it easier to get from the obscure folders they're usually saved to.

[2017-04-04 15:47] sentree commented on #198
I had just gotten the SSL certificate from @duggerd before the IEEE competition, so I will be setting up Apache tonight barring any unforeseen things I have to take care of. I also set up authentication with AD with some help from @duggerd, so you should all be able to log in with your MIL credentials. The only things left to do are get Docker set up to run our tests and integrate with Github. I w

[2017-04-04 16:00] sentree commented on #205
Is taking care of this on NaviGator right now out of the question? I feel like if we don't it will be a mess to do next year.

[2017-04-04 16:00] sentree commented on #205
Also, I would advise that we merge [mil_common #15](https://github.com/uf-mil/mil_common/pull/15) before this.

[2017-04-04 16:05] sentree commented on #208
It would be fairly straight forward to write an RQT plugin for this.

[2017-04-04 16:09] sentree commented on #206
I was planning on writing an RQT plugin for ros_alarms at some point before I package it, but someone might want to implement a quick fix while I am working on the CI.

[2017-04-04 19:18] DSsoto commented on #206
@mattlangford  want's to create a python version of roscpp throttled logging.

I have writing dvl beam heartbeat listeners with a dvl_loss meta alarm on my list.

[2017-04-04 19:39] DSsoto commented on #205
Only if it's a low effort thing, we don't want to sink a lot of time into making NaviGator compatible right now.

Have you even reviewed any of it or commented that it looks good? No one has.

[2017-04-04 20:06] DSsoto commented on #198
Ok I'll get you write access to the repo while you work on this. Still not convinced there should be more than 2 or 3 that are able to push in the long run.

[2017-04-05 15:47] duggerdufl commented on #208
What's the advantage of a RQT plugin over just a text based tool?

[2017-04-05 22:56] sentree commented on #208
I didn't realize this was just a request to the existing system, sorry. It should be pretty simple to set ROS parameters for the path to each device in /dev and check if the file exists from Python.

[2017-04-07 01:04] duggerdufl commented on #195
It does not look like we have problems detecting thruster ID 0 on the first launch anymore. Also confirmed that ID 0 is a valid ID for a thruster based on the VideoRay protocol reference. The VideoRay test tool still fails to get information for all thrusters except ID 0, however the ROS driver is able to get that data on all the thrusters. The commands sent from ROS and the test tool are similar,

[2017-04-08 18:17] mattlangford commented on #206
Update: I was mistaken on two fronts.
1. It looks like python throttled logging has gotten added in the new version of ros.
2. The driver (which I thought was in python) is in a header file.

I am going to make changes to this file to reduce the logging it does without losing data.

[2017-04-09 12:20] sentree commented on #208
@DSsoto suggested creating alarms so that we are notified of any changes.

[2017-04-09 23:06] kev-the-dev commented on #205
I'm going to make this my pet project for the week. Plan is as follows:

1. Remove packages/files duplicated in mil_common
1. [Use git grep with awk](http://blog.jasonmeridth.com/posts/use-git-grep-to-replace-strings-in-files-in-your-git-repository/) to replace strings like 'sub8_ros_tools' with 'mil_ros_tools'
1. Look at diff to verify nothing crazy happened
1. Start testing things to see what's

[2017-04-10 21:59] kev-the-dev opened #213 "Update self check to reflect camera namespace changes"

[2017-04-11 10:12] sentree commented on #213
Since #217 was merged, this can be closed.

[2017-04-11 15:10] #213 closed, assigned to kev-the-dev

[2017-04-13 10:01] sentree commented on #198
While there are still some things that need to be done with Jenkins, the automated build pipelines appear to be working well.

[2017-04-13 10:01] #198 closed, assigned to nobody

[2017-04-13 10:02] sentree commented on #205
Can this be closed now that #216 has been merged?

[2017-04-13 13:40] #205 closed, assigned to nobody

[2017-04-16 06:39] DSsoto commented on #208
I addressed the 2 first points @duggerd  made and also created the thruster_spin_test utility, Some of these diagnostic tests should be reported to the alarm server though, I will put that on the back burner.

BTW, should we make the self_check run automatically when we launch the sub? Thoughts?

[2017-04-16 06:48] DSsoto commented on #206
**_Update:_**
* DVL mesages spamming the sub launch console was dealt with in #218.
* Haven't yet worked on DVL alarm integration.

[2017-04-16 10:28] sentree commented on #191
I have finally completed all of it, very glad to cross this one off the list...

[2017-04-16 10:28] #191 closed, assigned to nobody

[2017-04-16 11:09] sentree commented on #208
As long as the sub is still in a totally inert and killed state for the test, this is fine. I don't want Ken getting any thruster surprises if someone forgets that this is a default launch behavior.

[2017-04-19 10:07] sentree commented on #84
The alarm GUI is now being tracked by uf-mil/ros_alarms#13. I will be working on the command GUI when I implement the new mission planner.

[2017-05-03 12:11] duggerdufl opened #230 "Slow Camera Frame Rate"
All cameras are running slow. Fastest framerate for the front cameras is 14 fps and down is 7 fps. Changing the framerate to auto or above 7 fps for the down camera in flycap causes a blank image in ROS and PointGrey unexpected ethernet packet length issues.

If I set the framerate in flycap to 30 fps or auto for the down camera and then reboot the camera and check the framerate, it stays at 30 fp

[2017-05-04 00:09] kev-the-dev commented on #85
Moving to uf-mil/mil_common#31

[2017-05-04 00:09] #85 closed, assigned to nobody

[2017-05-04 00:09] kev-the-dev commented on #86
Moving to uf-mil/mil_common#31

[2017-05-04 00:09] #86 closed, assigned to nobody

[2017-05-04 00:37] kev-the-dev opened #231 "Follow carrot perfectly in SIM (optionaly)"
It would be helpful to replicate the change made to controls in gazebo that we used in Navigator, in which the model pose is regularly updated to the exact trajectory of the controller. Of course, it would be better to simulate the physics of the controller better so it didn't go wildly out of control doing basic moves, but having the option to just follow the carrot allows us to test the high lev

[2017-05-07 04:59] DSsoto opened #234 "Reject waypoints above surface of the water"
Now that we will have the simulator's position being set by C3's waypoint, we should reject waypoints that go outside of the water. Right now I am able to make the sub fly.

![image](https://cloud.githubusercontent.com/assets/8714358/25778031/471db938-32c0-11e7-9fef-c60000a97d6e.png)

It would be great if this was done in a way that we can reuse the code to reject waypoints behind walls once wall

[2017-05-07 21:02] #195 closed, assigned to nobody

[2017-05-10 19:28] #231 closed, assigned to kev-the-dev

[2017-05-10 19:34] kev-the-dev opened #237 "Fix thruster rostest"
Since #233 was merged, the ```test_sub8_mapper``` will occasionally fail (likely random/timing depenent) in [some builds](https://ci.mil.ufl.edu/jenkins/blue/organizations/jenkins/uf-mil%2FSubjuGator/detail/PR-228/11/pipeline). Someone should look into that...

I'll update this with more details as the story unfolds.

[2017-05-11 01:22] DSsoto opened #238 "Increase window size for bus-voltage kill"
Right now, the bus_voltage kill triggers unnecesarily due to the amount of fluctuation in the bus voltage readings.

On our small pool outing on May 10, I noticed that when station-keeping in still waters, the bus voltage readings had a total spread of about 0.5 volts in a span of just about 2 seconds.

Although I did not record numbers, I would venture to say that the average spread during move c

[2017-05-11 01:34] mattlangford commented on #238
Kalman filter bus voltage!

[2017-05-11 01:41] DSsoto commented on #238
There isn't one bus voltage, all of the bus voltage packets from different thrusters spam to the same /bus_voltage topic. I doubt we can assume measurements with Gaussian error of an average bus voltage in this scenario. **_Ad-hoc!!_**      (**_tldr_**: overkill)

[2017-05-11 02:29] DSsoto opened #239 "Script to update mil_ws on the vehicle"
It is very easy to forget to pull the latest code from one of our master branches into the sub.

A script should be made to automate this, so it's one less thing to worry about before pool days.

It should do the following:
* Rename `SubjuGator` and `mil_common` to `<repo_name>_<current_date>` (only repos in mil_ws)
* Clone the latest mil_common and SubjuGator repos
* Print out the HEAD commit has

[2017-05-11 02:37] DSsoto opened #240 "Spawn mission props in simulator"
We need to get all of the mission props spawned into the sim.

I'll leave a list here so that everyone is aware and can note progress on these. Leave a note if you work on this and update the date.

For more info on props, see the [2017 rules](https://drive.google.com/file/d/0B6R3K-IZtXFXLVhlQnF4ZzdLQlU/view)

### Currently Spawned in Gazebo
- [x] Path Marker
  - [ ] Spawn as many as necessary to

[2017-05-11 04:35] DSsoto opened #241 "Create buoy detection ROS service"
We need to have a ROS service that takes as input a buoy type and a rectified color image and returns either a binary segmentation of that specific buoy in the image or the image coordinates of the center of the buoy in that frame, and the specific camera info (time, frame_id) for the frame that was used.

It should also have a way of reporting that the buoy could not be found, and it would be gre

[2017-05-13 15:07] LucasBA opened #245 "Chain Sequence of Pose Commands"
Mechanism for giving the sub a list of pose commands to achieve from the command line and from the mission runner.

[2017-05-13 15:22] mattlangford commented on #245
C3 will accept velocity only waypoints, this can be used to go in one direction without slowing down at the end. You'd just need to track the subs position and switch the waypoint at some point to get it to move where you want.

[2017-05-13 18:20] sentree commented on #206
Have we solved this with the implementation of kill bags from online_bagger?

[2017-05-13 18:28] sentree commented on #240
@Grymestone is taking this one over. He will be starting with a basic sandbox and working his way up to being able to dynamically generate a course of an arbitrary number of challenges.

[2017-05-13 18:34] sentree commented on #239
This should be fairly simple, I will add `-p` and `--pull` flags to wsmux.

[2017-05-15 04:38] DSsoto opened #252 "Kill when we have degenerate thruster setup"
**_TLDR:_** We should kill the sub when losing second thruster leaves us with a singular B-matrix.

Right now we only kill if we lose a third thruster, only giving warnings when the first two are lost. However this is not always safe as there are multiple ways of losing a second thruster that leave us without full state control.

This should be easy to check: (code should live in thruster mapper)

[2017-05-15 04:47] DSsoto opened #253 "Make path_marker_finder generic"
The competition requires finding the pose of multiple bright orange polygons objects repeatedly.

Kevin has implemented this successfully for the path marker (#229) but there is no reason to not use it for the bin lids as well.

I propose changing the name of the perception code from `path_marker_finder` to `orange_rectangle_finder` or some other more generic name. It should have a /set_geometry s

[2017-05-15 04:51] DSsoto opened #254 "Publish a persistent ogrid"
Right now @RustyBamboo's Ogrid generation (#242) works really well for a single frame of Imaging Sonar data, but it will forget about occupied and unoccupied regions as soon as they go out of the field of view.

An OGrid should should be generated that remembers the occupancy status of regions that we have previously observed based on a probabilistic model.

[2017-05-15 05:07] DSsoto commented on #208
We should also add to the self check:
- [ ] Check fps for all camera topics using rostopic hz (like @ironmig did for #250)
- [ ] Checking for degenerate thruster configurations (#252)

_Modified @duggerd's initial post so we can track progress from the issues tab_

[2017-05-15 08:34] sentree commented on #254
Since some of our competition elements will be swaying with the currents, we need to look at how much object dilation we will experience. Unless of course that is part of the probabilistic model.

[2017-05-15 08:36] sentree commented on #253
I can look in to this if @ironmig doesn't want to since I will be handling this part of the perception for the bins challenge anyway.

[2017-05-15 15:50] kev-the-dev commented on #253
I got this. Already doing that so it can work with unit tests

[2017-05-15 16:03] kev-the-dev commented on #240
I put all of Cameron's models on the file server under ```Sim Field Elements/2017```. The colors did not export for solid works so someone has to do the blender thing and color them or something.

[2017-05-16 14:31] LucasBA commented on #254
I remember the competition elements being fairly stationary at the transdec. I think the current in there is pretty much constant and stuff really only moves around when we bump into it.

@RustyBamboo are you working on this right now? If not I am interested in working on it today.

[2017-05-16 19:46] RustyBamboo commented on #254
@LucasBA I'm not currently working on it. Feel free to work on it

[2017-05-17 02:07] sentree commented on #239
This was added in uf-mil/mil_common#54.

[2017-05-17 02:07] #239 closed, assigned to sentree

[2017-05-21 04:07] DSsoto opened #260 "Dump state of alarm server to file on kill"
To finally address issue #206:
* A dump alarms service should be added to the alarm server that returns the current state of all alarms on the system.
* The output from this service should be saved to a file in sub8_diagnostics after every kill.
* An alias should be added to quickly cat the file.

[2017-05-21 04:10] DSsoto commented on #206
@whispercoros in a way yes. But this should be easier to parse, and able to be done more quickly. I made a more specific issue to address this (#260).

[2017-05-21 21:36] sentree commented on #260
Is this a SubjuGator specific issue, or should it just be added to ros_alarms in general?

[2017-05-22 22:39] DSsoto opened #264 "Support sub commands without arguments"
Right now we have to give call `subc` (`rosrun sub8_missions move_command`) with dummy args for comands that don't take any arguments like stop, level_off, zrp.

Success is being able to run
[code]
or
[code]
without a hideous traceback message.

This task is open to new people!

[2017-05-23 05:57] DSsoto commented on #264
@kingkevlar, you probably just have to catch the exception (out of bounds indexing of the args from argparse) and check to make sure that the command was one of the ones we know to take no arguments.

[2017-05-23 06:03] DSsoto commented on #245
This is dealt with in #249

[2017-05-23 06:03] #245 closed, assigned to LucasBA

[2017-05-23 06:07] DSsoto commented on #238
Addressed by #247. The window size is currently 30 seconds but can be adjusted based on observations from the next pool day.

[2017-05-23 06:07] #238 closed, assigned to DSsoto

[2017-05-23 06:08] DSsoto commented on #240
@Grymestone I know you've been doing good work on this. Make sure you document the progress here.

[2017-05-23 06:10] DSsoto commented on #241
@aaron-iglesias can you try to get a basic vision proxy (perception node) running to test this Saturday on the sub?

[2017-05-23 06:11] DSsoto commented on #237
Was this fixed? I've stopped noticing CI build fails due to this.

[2017-05-23 06:20] DSsoto commented on #260
I think the fact that we're going to add behavior to the kill-handler on the sub makes it sub specific.

[2017-05-23 06:36] DSsoto opened #267 "Support individual thruster calibration"
Right now the thruster driver gets the effort-to-thrust mapping for all of the thrusters from a single file. This means that we can't currently use different styles of propellers or shrouds without confusing the thruster mapper.

The thruster driver should allow for each thruster to be initialized with a different mapping, and the thruster_layout yaml should say where to get that data.

Eventually

[2017-05-23 17:51] #253 closed, assigned to kev-the-dev

[2017-05-23 20:02] Grymessa opened #270 "Add checkpoints to Gazebo"
We need to add locations in the sim that when prompted in the console can teleport the sub in front of each objective. Currently, we have to maneuver to each objective prop.

- [x] Nav Gate Waypoint
- [x] Start Gate Waypoint
- [x] Bin Waypoint
- [x] Octogon Waypoint
- [x] Torpedo Board Waypoint
- [x] Buoy Waypoint

[2017-05-23 20:27] DSsoto commented on #270
I'd recommend having a yaml under sub8_gazebbo/config with named world frame poses. Keep in mind that there is a difference between the map frame and  the world frame (the origin of the map frame is dependent on where the sub is spawned while the world frame is independent).

This will be great for integrating gazebo tests into CI.

[2017-05-24 07:49] sentree commented on #237
It seems to be very sporadic. The variance day to day seems to be based on server load (maybe...?). This issue only cropped up after about a month of using the CI and went away in a few weeks without any changes being made to the test, so it is likely a timing issue with the test as @ironmig stated.

[2017-05-24 07:54] sentree commented on #270
This is definitely a good idea, but I would recommend also looking into a way to generate custom worlds. For example, place a start gate at x1, y1, z1, p1, r1, y1 and the sub at x2, y2, z2, p2, r2, y2. This will be ideal for use with both a Monte Carlo testing engine as well as user-defined unit tests.

[2017-05-25 02:53] DSsoto commented on #270
Sure, but let's do things incrementally. I think this is something he could get done relatively quickly.

[2017-05-26 18:39] kev-the-dev opened #272 "Add imaging sonar to simulation and integrate ogrid"
After merging #242, we noticed we'll need a simulated imaging sonar to test out navigation stack now that it checks for way point validity.

[2017-06-02 22:12] #272 closed, assigned to Grymestone, RustyBamboo

[2017-06-07 19:55] RustyBamboo opened #277 "Harder, Better, Faster, Stronger pointcloud"
- Publish the conversion from blueview to pointcloud as a plane
- Make ogrid centered on Sub instead of 0,0
- Rejects points below the DVL range
- Use the planer pointcloud to create an action server that will move sub and return received pointcloud... This would allow missions or other nodes to do a "search", get a corresponding pointcloud, and then do some segmentation to find buoys or get poses

[2017-06-08 11:43] sentree commented on #277
Not sure if this is in the same vein as point 4, but it would be nice to automate the filling in of unknown sections of the point cloud that we are trying to move into. This could be just a simple thing used for mission running (e.g. if the mission wants to move backward, spin the sub around to populate the occupancy grid, then spin it back and complete the move if that space is not occupied).

[2017-06-10 14:30] LucasBA commented on #277
@whispercoros I think this should be a separate thing like a conservative obstacle avoidance movement mode because I can think of scenarios where in a mission you would want to strafe or go backwards while keeping something in the view of the camera/sonar so no spinning.

[2017-06-10 14:33] LucasBA commented on #277
I am implementing point 4 to mirror the vision proxy/ searcher in sub_singleton.

[2017-06-14 14:12] DSsoto commented on #260
@ironmig why was this closed? Did you implement this?

[2017-06-14 14:35] kev-the-dev commented on #260
Oops thought this was the kill bag one

[2017-06-15 04:53] DSsoto commented on #260
No problem, you should always reference a PR or leave a comment when closing an issue though.

[2017-06-20 18:12] kev-the-dev commented on #230
Apparently the version of the flycap SDK bundled by default (2.9) with the driver we're using might not be compatible with 16.04 ([source](https://github.com/ros-drivers/pointgrey_camera_driver/pull/73)). I downloaded the latest (2.11) Flycap SDK and compiled with driver from source with this version.

Now when we set the frame rate setting in the driver is seems to listen. We've had the two front

[2017-06-24 16:23] kev-the-dev opened #288 "Simulator is too dark"
The lighting in gazebo is really dark, which makes it difficult to use for perception testing. For navigator, we had the sim very bright, which allowed us to test in ideal conditions. We should move the light, add new ones, or make the lights brighter so everything is easily visible

[2017-06-24 16:28] kev-the-dev commented on #288
For example, this is an actual screenshot from the simulated down camera:
![screenshot from 2017-06-24 12-28-31](https://user-images.githubusercontent.com/9502636/27510133-abdcc27c-58d8-11e7-8dc3-2ab3be3785b1.png)

[2017-06-26 14:04] Grymessa commented on #288
I added a couple of light points and noticed its still pretty dark in some shots. Looking at it, there are spots that are exceedingly dark in the transdeck texture. It might be worth swapping out textures for something lighter. This is a screenshot of the ellipse table as seen from the down camera. By the bins, I still get a black screen essentially as with yours.
![screenshot from 2017-06-26 10-0

[2017-06-26 16:59] Grymessa opened #289 "'Fake' Simulator Perception"
In the event a mission's code is finished but the perception required for the mission is not, it would be a good idea to have a 'fake' perception service that can act as a substitute so missions can be tested. This service would return the correct coordinates of the object in Gazebo and fulfill all the requirements of regular perception.

The idea is to make this pretty modular, all the mission wr

[2017-06-26 17:07] DSsoto commented on #270
@Grymestone addressed everything in #276.

[2017-06-26 17:07] #270 closed, assigned to Grymestone

[2017-06-28 00:19] DSsoto commented on #234
Addressed by #242.

[2017-06-28 00:19] #234 closed, assigned to RustyBamboo

[2017-07-07 23:07] kev-the-dev commented on #289
#295

[2017-07-12 00:47] sentree commented on #288
Don't know if this has been fixed yet, but have a look at my lighting configuration from the NaviGator simulator. Specifically the [world file](https://github.com/uf-mil/NaviGator/blob/master/simulation/navigator_gazebo/worlds/a_whole_new.world). Basically, I just created 6 directional lights. Since most of the competition elements were vertical or horizontal planes, this added a lot of light to t

[2017-07-15 07:13] DSsoto commented on #267
Addressed in PR #290.

[2017-07-15 07:13] #267 closed, assigned to DSsoto

[2017-07-15 07:16] DSsoto commented on #289
#295 was merged. Good work @Grymestone

[2017-07-15 07:16] #289 closed, assigned to Grymestone

[2017-07-15 23:47] kev-the-dev opened #303 "C3 does not always set waypoint to current pose on revive"
* C3 sometimes (always?) does not reset the waypoint to the current pose when the sub is unkilled

[2017-07-18 04:38] sentree commented on #241
Should we consider this complete since @ironmig's mission seems to work well?

[2017-07-18 04:40] sentree commented on #230
Is this fixed now that we have moved over to the official SDK and are using the `pointgrey_camera_driver` repository?

[2017-07-18 04:43] sentree commented on #128
This issue seems to be irrelevant and outdated, can it be closed?

[2017-07-18 16:43] LucasBA commented on #128
irrelevant and outdated

[2017-07-18 16:43] #128 closed, assigned to LucasBA

[2017-07-18 18:40] kev-the-dev commented on #230
Though we're still not getting 30fps on the down camera, I think this is the best we can do and is fast enough for our perception programs.

[2017-07-18 18:40] #230 closed, assigned to nobody

[2017-07-18 18:40] #303 closed, assigned to kev-the-dev

[2017-08-15 19:45] atomoclast opened #318 "Question about the Thrust Allocation Matrix Setup On Wiki"
Hello,
I was reading through your wiki located here: https://github.com/uf-mil/SubjuGator/wiki/Thrusters about the thruster matrix B, and how you derive it and I was wondering if you could explain what you mean by position vector and direction vector.

Is the position vector [x,y,z] translation of the thruster from the root frame? Is the direction vector the vector that describes the direction of

[2017-08-15 20:17] RustyBamboo commented on #318
Hello.
Yes, as you describe, the position vector is the translation relative to the center of mass of the sub. And, yes, the direction vector describes the direction of the thruster, and your example is correct.
The sub's horizontal thrusters are at 30-degree inwards, meaning the direction vector is a positive/negative permutation of [0.866, 0.5] with no z-competent giving [0.866, 0.5, 0.0]. Our f

[2017-08-17 05:22] jpanikulam commented on #318
How on earth did you find this?

Q: How do you derive this

A: Derive this by constructing a matrix mapping magnitude of force at each thruster to force and torque about the origin of the frame, as @RustyBamboo righteously points out.

Think of each row of the top `3x8` block as mapping all of the thrusts into one component of the net force. Think of each row in the bottom `3x8` block as mapping a

[2018-03-19 16:56] RustyBamboo opened #320 "Use mil_missions"
Introduced in uf-mil/mil_common#87, mil_tasks provides a smarter way to deal with missions. Working examples can be found within the Navigator repo along with some in mil_common repo.

[2018-03-19 17:01] RustyBamboo opened #321 "Improve state estimation (particularly during DVL beam failures)"
We rely mostly on the DVL to return good pings in order to obtain a state estimation. This can result signifcant state drifts if the pings are not good... So a potential solution is to dynamically set coefficents in the kalman filter to vary the trust.

[2018-03-19 17:10] RustyBamboo opened #322 "Thrusters...?"

[2018-03-30 20:50] kev-the-dev opened #323 "Kinematic Simulator"
We have had a variety of GNC issues on SubjuGator where it is difficult to isolate the problem. Having a simulator which simulates all of the parts of these systems besides the hardware would eliminate certain problems and allow changes to be tested (even automatically)

Create a simulator similar to NaviGator's 2d sim (but 3d, obviously) which listen to thruster force messages, simulates the stat

[2018-05-16 17:24] marcgabe15 opened #327 "Fix barebones launch file for simulator"

[2018-05-16 18:06] RustyBamboo opened #328 "MOTD for basic system check"
To avoid future headaches, add a useful MOTD when logging into the sub. So for example, checking if `mil-sub-gumstix.ad.mil.ufl.edu` is online and perhaps displaying current disk usage/space.

[2018-06-05 12:54] Grymessa opened #337 "Clean up the Torpedo Challenge Code"
Separate out the functions and make the centering movements more smooth. Code works as is but if we finish all the missions and perception files ahead of schedule we could improve this challenge.

- [ ] Add exponential decay to movement of sub depending on how far off from center we are.
- [ ] Add active sonar integration to find distance from board (if we ever fix the Active Sonar)
- [ ] Fire tor

[2018-07-28 00:05] #328 closed, assigned to marcgabe15

[2018-08-02 15:28] LucasBA opened #366 "Sever / Server typo"
Not urgent but it seems like there is a typo in the launch files where the node name is alarm_sever rather than alarm_server:
[https://github.com/uf-mil/SubjuGator/search?q=sever&unscoped_q=sever]

[2019-01-05 03:47] kev-the-dev opened #369 "Implement Adaptive Controller"
Implement an adaptive controller, similar to the [one on NaviGator](https://github.com/uf-mil/NaviGator/blob/master/gnc/navigator_controller/nodes/mrac_controller.py).

[2019-01-06 19:08] RustyBamboo commented on #369
https://github.com/RustyBamboo/ReeControl

[2019-01-08 19:58] kev-the-dev commented on #369
What's your current state of the project and what are your near term plans for it? From skimming it it looks like a PID controller simulator and a basic 3D kinematic simulator with linear drag.

[2019-01-08 19:59] #318 closed, assigned to nobody

[2019-01-08 20:00] kev-the-dev commented on #113
Will be done via #320

[2019-01-08 20:00] #113 closed, assigned to mattlangford, sentree

[2019-01-08 20:01] kev-the-dev opened #370 "Integrate mil_passive_sonar"
Deprecate the sonar code in this repo, convert missions/launch files to use mil_passive_sonar

[2019-01-08 20:02] #84 closed, assigned to sentree

[2019-01-08 20:02] kev-the-dev commented on #1
Ambiguous

[2019-01-08 20:02] #1 closed, assigned to nobody

[2019-01-08 20:04] kev-the-dev commented on #207
Unnecessary after switch to Seecam cameras, which provide sufficient auto white balance on hardware

[2019-01-08 20:04] #207 closed, assigned to nobody

[2019-01-08 20:07] RustyBamboo commented on #369
I have the math figured out, just need to code it up and test it

[2019-01-08 20:09] kev-the-dev commented on #337
No longer relevant as 2019 involves new challenges

[2019-01-08 20:09] #337 closed, assigned to Grymestone

[2019-01-08 20:11] kev-the-dev commented on #369
"It's just code".  - Ira Hill

The README just describes a simulator... are you planning on also implementing an adaptive controller?

[2019-01-08 20:11] kev-the-dev commented on #146
Will be solved via #320, where missions have an init function

[2019-01-08 20:11] #146 closed, assigned to sentree

[2019-01-08 20:12] kev-the-dev commented on #322
Ambiguous, please reopen with a more tangible issue if this is still relevant

[2019-01-08 20:12] #322 closed, assigned to nobody

[2019-01-08 20:16] kev-the-dev opened #371 "Use mil_pneumatic_actuator"
Instead of the one present in this repository, which should be deprecated

[2019-01-08 20:43] RustyBamboo commented on #369
yeah, I've been testing controllers in that simulator

[2019-01-14 17:35] kev-the-dev opened #372 "Simulate/Fix kinemetics in gazebo"
There appears to be a "physics" option for the gazebo launch file that is meant to have gazebo simulate the kinematics of the sub (buoyancy/drag/thrust) instead of following the carrot. However, this option does not seem fully implemented and does not work from my testing. Implement/Fix this functionality so the controller/thruster stack can be simulated and tested using gazebo.

[2019-01-14 17:35] kev-the-dev commented on #323
Replaced by #372

[2019-01-14 17:35] #323 closed, assigned to Gungo

[2019-01-14 17:39] kev-the-dev opened #373 "Model SubjuGator using URDF"
Model SubjuGator using an URDF file, so the model in gazebo and the one used in RVIZ/tf is the same, eliminating duplicates.

[2019-01-16 17:33] kev-the-dev opened #378 "High Level Archecticure Graph"
For documentation purposes. Similar to https://github.com/uf-mil/NaviGator/blob/master/docs/high_level_architecture.dot

[2019-01-22 03:24] kev-the-dev opened #380 "Kinematic Simulator"
As an alternative to #372, have a separate, custom written node to simulate the sub's dynamics. Subscribe to /wrench, handle dynamics, and publish /odom. Configure launch files a necessary to easily test the GNC stack up through move commands using this lightweight simulator

[2019-01-22 03:26] kev-the-dev commented on #380
@RustyBamboo and I have both started on this. First one to PR gets a cookie!

I have a (nominally) working version in python, which should be accurate once certain constants (mass, inertials, drag) are determined.

[2019-01-22 03:31] #373 closed, assigned to nobody

[2019-01-22 03:33] kev-the-dev commented on #241
Closing dead issue, no longer relevant

[2019-01-22 03:33] #241 closed

[2019-01-22 03:41] kev-the-dev opened #381 "Use dynamics model in state estimation"
Summary with wise words from MIL alum during a discussion about helping the Sub's state estimation problems when DVL beams do not return:

Most teams that do not have a DVL achieve useful state estimation by using a model of their vehicle's dynamics as a predictor in their kalman filter. An example of this is modeling the vehicle's drag/buoyancy/gravity and feeding the acceleration you would expec

[2019-01-22 03:45] kev-the-dev commented on #321
Hijacking this ticket as a meta ticket for various ways to improve state estimation.

* [ ] #381
* [ ] #83

From reading the KF code and speaking with Forest, it DOES seem DVL beam loses are handled correctly.

[2019-01-25 18:58] #380 closed, assigned to kev-the-dev, RustyBamboo

[2019-01-25 19:00] #320 closed, assigned to kev-the-dev

[2019-01-25 19:03] #370 closed, assigned to nobody

[2019-01-25 20:16] kev-the-dev commented on #371
done in #383

[2019-01-25 20:16] #371 closed, assigned to nobody

[2019-01-30 21:09] kev-the-dev opened #385 "Basic Move Test"
Write a ROS test to execute basic move commands using `submove` and verify the sub moves to the correct position + orientation, failing otherwise. You can test this in the simulator

[2019-01-31 22:57] #378 closed, assigned to nobody

[2019-02-08 18:22] kev-the-dev opened #387 "SIMULATION: simulate state sensors"
Simulate the following sensors, either in Gazebo or in the dynamics simulator:

* Imu
* DVL + DVL range
* Magnetometer
* Depth sensor

Ideally, these sensors would have noise added which models the noise in the real sensors. This will allow us to test the kalman filter in simulation.

[2019-02-08 18:24] kev-the-dev opened #388 "SIMULATION: simulate individual thrusters"
Simulate the individual thruster effects in either gazebo or the dynamics_simulator. Currently, only the full body wrench is applied. This will help test the thruster mapper

[2019-02-08 18:30] kev-the-dev opened #389 "HARDWARE: interface for new thruster board"
Consult the electrical team for the protocol/interface used to talk to the new thruster board and right a ROS driver

[2019-02-21 22:39] kev-the-dev opened #391 "Model SubjuGator's drag"
Determine an accurate model for drag on the Sub. A starting point can be linear drag. Ideally, this process will be automated.

Example usage story:

* Put Sub into water
* Run drag program, which applies forces and observes the max velocity achieved at this force
* When done, the program spits out the linear drag coefficient for x, y, z, pitch, roll, and yaw.

[2019-02-22 01:17] #288 closed, assigned to Grymestone

[2019-02-22 01:17] #327 closed, assigned to nobody

[2019-02-22 01:17] #372 closed, assigned to nobody

[2019-02-22 01:17] #387 closed, assigned to nobody

[2019-02-22 01:17] #388 closed, assigned to nobody

[2019-05-11 22:49] kev-the-dev commented on #389
Done in #395

[2019-05-11 22:49] #389 closed, assigned to kev-the-dev